*{
	margin: 0;
	padding: 0;
	font-family: 'Arkhip', arial, sans-serif;
    font-size: 20px;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    color: #fff;
}
a,
a:focus,
a:active{
    text-decoration: none;
    color: inherit;
}
::selection {
  background: #3a280c;
  color: #fff;
}
::scrollbar {
    width: 10px;
}
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::scrollbar-thumb {
    background: #3a280c; 
}
::-webkit-scrollbar-thumb {
    background: #3a280c; 
}
/* Handle on hover */
::scrollbar-thumb:hover {
    background: #555; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.input1::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.input1::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.input1:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.input1:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.input1:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.input1:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.input1:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.input1:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}


ul li{
    list-style-type: none;
}
.wrapper{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.wrapper::after{
    display: block;
    content: '';
    clear: both;
}
.row{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0;
}
section{
    width: 100%;
    float: left;
    position: relative;
    box-sizing: border-box;
    padding: 40px 0;
}

/*CUSTOM STYLES*/

/*HEADER*/
header{
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    height: 140px;
    background: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
}
.nav-menu ul li{
    display: inline-block;
    margin-right: 60px;
    transition: 0.3s ease;
}
.nav-menu ul li:last-child{
    margin-right: 0;
}
.nav-menu ul li.active{
    background: #3e1212;
    border-radius: 5px;
}
.nav-menu ul li a{
    display: inline-block;
    padding: 5px;
    transition: 0.3s ease;
    font-size: 20px;
}
.nav-menu ul li:hover{
    background: #3e1212;
}
.nav-menu ul li.active a:hover{
    color: #fff;
}

.lang ul li{
    padding: 4px 5px;
}
.lang ul li a{
    font-size: 20px;
}
.lang ul li.active{
    background: #fff;
}
.lang ul li.active a{
    color: #3e1212;
}
.logo img{
    max-height: 80px;
}


/*CONTENT*/
.layer{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.layer2{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(255,255,255, 0.33);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.section1{
    height: 830px;
    min-height: 830px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    display: flex;
    align-items: center;
}
.sec1-content{
    position: relative;
    z-index: 2;
    text-align: center;
}
.sec1-content h1{
    font-size: 65px;
    font-weight: normal;
}
.sec1-content h1::before{
    content: '';
    display: block;
    background: url(../img/frame3.png);
    width: 917px;
    height: 197px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}
.sec1-content h1::after{
    content: '';
    display: block;
    background: url(../img/frame4.png);
    width: 917px;
    height: 193px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
}

.section2{
    height: 600px;
    min-height: 600px;
    display: flex;
    align-items: center;
    background: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.sec2-content{
    position: relative;
    display: flex;
    align-items: center;
}
.sec2-1{
    width: 55%;
    float: left;
}
.sec2-2{
    width: 45%;
    float: left;
    text-align: center;
}
.sec2-content h3{
    font-size: 35px;
    font-weight: lighter;
    margin-bottom: 30px;
}
.sec2-content p{
    font-size: 20px;
}
.sec2-content img{
    width: 100%;
    max-width: 430px;
    border: 1px solid #3e1212;
    border-radius: 10px;
}

.section3{
    background: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.sec3-content{
    position: relative;
    z-index: 2;
}
h2.heading{
    font-size: 65px;
    text-align: center;
}
h2.heading.brown{
    color: #432807;
}
.tablet{
    width: 100%;
    float: left;
    margin: 30px 0;
}
/*TABS*/
.tabs_menu {
  width: 100%;
  float: left;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.tabs_menu li {
  width: 33.33%;
  float: left;
  cursor: pointer;
  padding: 0 10px;
  text-align: center;
}
.tabs_menu li span{
  display: block;
  border: 2px solid #432807;
  padding: 15px;
  font-size: 22px;
  border-radius: 10px;
  color: #432807;
}
.tabs_menu li.active {
  cursor: default;
}
.tabs_menu li.active span{
    background: #432807;
    color: #fff;
}
.tabs {
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 0;
}
.tabs .info{
  display:none;
  width: 100%;
  float: left;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.tabs .info.active{
  display:block;
  position: relative;
}

.pic1{
    width: 100%;
    float: left;
    position: relative;
}
.tabs .item{
    width: 100%;
    min-height: 750px;
    height: 750px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 10px;
}

.sec3-content .owl-theme .owl-nav {
    width: 100%;
    margin-top: 0;
    height: 0;
    position: absolute;
    top: calc(50% - 177px/2);
    z-index: 2;
}
.sec3-content .owl-theme .owl-nav .owl-next {
    color: #FFF;
    margin: 0px;
    padding: 0px;
    background: none;
    display: inline-block;
    cursor: pointer;
    border-radius: none;
    background: url(../img/right.png);
    width: 100px;
    height: 177px;
    background-repeat: no-repeat!important;
    background-size: contain;
    background-position: center;
    position: absolute;
    right: 20px;
}
.sec3-content .owl-theme .owl-nav .owl-prev {
    color: #FFF;
    margin: 0px;
    padding: 0px;
    background: none;
    display: inline-block;
    cursor: pointer;
    border-radius: none;
    background: url(../img/left.png);
    width: 100px;
    height: 177px;
    background-repeat: no-repeat!important;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 20px;
}

.section4{
    background: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.history{
    display: block;
    width: 100%;
    margin: 80px 0 30px;
}
.his1{
    width: 67%;
    float: left;
}
.his1 span{
    font-size: 40px;
    display: block;
    margin-bottom: 35px;
}
.his1 p{
    font-size: 20px;
    text-align: justify;
}
.his2{
    width: 33%;
    float: left;
    padding: 100px 0 0 50px;
}
.his2 img{
    width: 100%;
    display: block;
    margin-bottom: 30px;
}
.every-his{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.every-his p{
    font-size: 20px;
}
.every-his p span{
    font-size: 20px;
}

.section5{
    background: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.sec5-content{
    position: relative;
    z-index: 2;
}
.about{
    width: 100%;
    float: left;
    margin: 50px 0 0 0;
}
.about-text{
    width: 100%;
    float: left;
    font-size: 20px;
}
.every-about{
    width: 100%;
    float: left;
    margin-bottom: 35px;
}
.every-about span{
    display: block;
    font-size: 40px;
    text-align: left;
    margin-bottom: 25px;
}
.every-about p{
    display: block;
    font-size: 40px;
    text-align: right;
}
.section6{
    background: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.otziv-container{
    width: 100%;
    float: left;
    padding: 40px 0 0 0;
}
.otz-wrap{
    width: 100%;
    float: left;
    position: relative;
    padding: 0px 60px 0;
    display: flex;
    align-items: center;
}
.otz1{
    width: 20%;
    float: left;
}
.otz2{
    width: 80%;
    float: left;
    padding: 0 0 0 30px;
}
.otz-word{
    border: 3px solid #fff;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}
.otz-pic{
    margin: auto;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.otz-author{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 25px;
}
.otz-author p{
    font-size: 24px;
}

.sec6-content .owl-theme .owl-nav {
    width: 100%;
    margin-top: 0;
    height: 0;
    position: absolute;
    top: calc(50% - 50px/2);
    z-index: 2;
}
.sec6-content .owl-theme .owl-nav .owl-next {
    color: #FFF;
    margin: 0px;
    padding: 0px;
    background: none;
    display: inline-block;
    cursor: pointer;
    border-radius: none;
    background: url(../img/arr2.png);
    width: 28px;
    height: 50px;
    background-repeat: no-repeat!important;
    background-size: contain;
    background-position: center;
    position: absolute;
    right: 0px;
}
.sec6-content .owl-theme .owl-nav .owl-prev {
    color: #FFF;
    margin: 0px;
    padding: 0px;
    background: none;
    display: inline-block;
    cursor: pointer;
    border-radius: none;
    background: url(../img/arr1.png);
    width: 28px;
    height: 50px;
    background-repeat: no-repeat!important;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 0px;
}


.section7{
    background: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.sec7-content{
    position: relative;
    z-index: 2;
}
.contacts-box{
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.cont1{
    width: 50%;
    float: left;
}
.every-cont{
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}
.every-cont:last-child{
    margin-bottom: 0;
}
.every-cont a{
    font-size: 30px;
    color: #3e1212;
    margin-left: 30px;
}
.cont2{
    width: 50%;
    float: left;
}
.cont2 iframe{
    height: 425px;
    border: 3px solid #3e1212;
    border-radius: 5px;
}

footer{
    background: #3e1212;
}
.footer{
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
}

